body { 
  background-image: url('https://i1.wp.com/static.web-backgrounds.net/uploads/2012/08/Abstract_Blue_Background_with_Wavy_Lines.jpg');
  background-repeat: no-repeat;
  background-size: 100%;    
  margin:60px 40px 60px 170px;
  font-family: Arial, Helvetica, sans-serif;
} 
header{
  background-color: white;
  height: 50px;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
}
header img{
  width:100px;
  height:50px;
  
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  
  font-size: 50px;
  
  margin: 20px;
}
div{
  background-color: pink; 
  border: none;
  color: white;
  padding: 15px 32px;
  
 
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}